name: Build and Release Wheel
on:
  push:
    tags:
      - 'v*.v*.*'

permissions:
  contents: write
  packages: write
  issues: read


jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install build tool
        run: pip install --upgrade build twine

      - name: Build wheel
        run: python -m build --wheel --outdir dist

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*.whl
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
