name: Build and Test wheels

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade build tools
        run: |
          python -m pip install --upgrade pip build
          pip install -e .[dev]

      - name: Build wheel
        run: |
          python -m build --wheel

      - name: Install wheel
        run: |
          pip install dist/*.whl

      - name: Install test dependencies
        run: |
          pip install pytest

      - name: Run tests (against installed wheel)
        run: |
          pytest

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: markovpy-wheel-${{ matrix.python-version }}
          path: dist/*.whl
